<nb-card>
    <nb-card-header>
     Porfolio Create/ Edit
    </nb-card-header>
    <nb-card-body>
        <toaster-container [toasterconfig]="config"></toaster-container>
        <form (ngSubmit)="onSubmit()" [formGroup]="form">
            <div class="col-sm-12 form-group">
                <label> Title </label>
                <input formControlName="title" type="text" placeholder="Full Name" class="form-control"/>
                <small *ngIf="title.errors" class="form-text error">Name must be 12 letters longer</small>
            </div>
            <div class="col-sm-12 form-group">
                 <label> Image </label>
                 <input type="file" (change)="onUpload($event)" class="form-control"/>
            </div>
            <div class="col-sm-12 form-group">
                 <div class="image-render">
                     <img *ngIf="imagePost" class="img-fluid custom-img" src="{{ imagePost.url }}" />
                     <input formControlName="image" type="hidden" class="form-control"/>
                 </div>
            </div>
            <div class="col-sm-12 form-group">
                  <label> Order </label>
                  <input formControlName="order" type="text" placeholder="Full Name" class="form-control"/>
                  <small class="form-text error"> Something wrong guys. </small>
            </div>
            <div class="col-sm-12 form-group custom-group">
                   <label> Activation </label>
                   <div class="demo-radio">
                       <label class="custom-control custom-radio col-sm-12">
                                <input formControlName="hidden" value="false" type="radio" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Inactive</span>
                       </label>
                       <label class="custom-control custom-radio col-sm-12">
                                <input formControlName="hidden" type="radio" value="true" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Active</span>
                       </label>
                    </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12 form-group">
                      <button type="submit" [disabled]="form.invalid" class="btn btn-primary">Submit</button>
                      <button type="submit" (click)="goBack()" class="btn btn-secondary float-right">Back</button>
                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>
